<body>
  
    <a href="/articles">home</a>
    <h1>Article number <%= @article.id %></h1>
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>
    <form class="form" action="/articles/<%= @article.id %>" method="post">
      <input id="delete" type="delete" name="delete article" value="DELETE">
      <input type="submit" value="Delete">
    </form>
    
</body>